*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    margin: 20px auto;
}
.calculator{
    width: 350px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 0px rgba(128, 128, 128, 0.349);
    font-size: 0px;
    transition: 0.3s;
}
.calculator:hover{
    box-shadow: 0px 16px 32px 0px rgba(128, 128, 128, 0.349);
}
.calc-head input{
    width: 340px;
    height: 100px;
    font-size: 35px;
    font-weight: bolder;
    text-align: right;
    padding-right: 5px;
}
.btn{
    width: 85px;
    height: 50px;
    background-color:rgb(37, 17, 37);
    color: white;
    font-weight: bolder;
    margin: 1px;
    border: none;
    border-radius: 2px;
}
.btn:hover{
    background-color: tomato;
}
.style{
    background-color: rgb(255, 187, 0);
}
.style2{
    background-color: rgb(0, 140, 255);
}